# PostgreSQL User Name Maps
# =========================

# Put your actual configuration here
# ----------------------------------

# MAPNAME       SYSTEM-USERNAME         PG-USERNAME
user1           mukesh                  novelty