PORT={{ app_port }}
HOST=0.0.0.0
POSTGRES_DB_CONNECTION_URL=postgresql://{{ db_username }}:{{ db_password }}@{{docker_compose_service_name}}:{{ db_port }}/{{ db_name }}
AUTH_ACCESS_TOKEN_SECRET=ABCDEFG
AUTH_REFRESH_TOKEN_SECRET=ABCDEFG
AUTH_ACCESS_TOKEN_DURATION=3600s
AUTH_REFRESH_TOKEN_DURATION=30d
